<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Netflix Clone</title>
</head>
<body>
    
    <%- include('partials/header') %>
    <h1>Welcome to Netflix Clone</h1>
    <a href="/movies">Browse Movies</a>
    <a href="/shows">Browse TV Shows</a>
    <%- include('partials/footer') %>
</body>
</html>
